<div class='movie-list'>
  <h2 class='page-header'>Recommendations</h2>
  <% if @recommendations.empty? %>
    <%= render 'shared/no_recs' %>
  <% else %>
    <% @recommendations.each do |recommendation| %>
      <%= render 'shared/movie', :movie => recommendation.movie, :method => :post %>
    <% end %>
  <% end %>
</div>
