<div class='movie-list'>
  <% @ratings.each do |rating| %>
    <% rated_movie =  true %>
    <% current_rating = @rating_values[rating.movie_id].to_i %>
    <%= render 'shared/movie', :movie => rating.movie, :rated_movie => rated_movie, :current_rating => current_rating, :rating => rating%>
  <% end %>
</div>
 <% if current_user.ratings.exists? %>
  	    <div class='module'>
           <h2>Your Ratings</h2>
         </div>
 <% end %>
