<div class='movie-list'>
  <% if @actor_movies.nil? && @director_movies.nil? && @movies.nil? %>
    <p>Nothing matched your search.</p>
  <% elsif @actor_movies %>
    <% @actor_movies.each do |movie| %>
      <%= render 'shared/movie', :movie => movie, :method => :post %>
    <% end %>
  <% elsif @director_movies %>
    <% @director_movies.each do |movie| %>
      <%= render 'shared/movie', :movie => movie, :method => :post %>
    <% end %>
  <% else %>
    <% @movies.each do |movie| %>
      <%= render 'shared/movie', :movie => movie, :method => :post %>
    <% end %>
  <% end %>
</div>
