<h1>Movies</h1>
<% @result[Movie].each do |movie| %>
  <p><%= movie.title %></p>
<% end %>

<h1>Actors</h1>
<% @result[Actor].each do |actor| %>
  <p><%= actor.name %></p>
<% end %>

<h1>Directors</h1>
<% @result[Director].each do |director| %>
  <p><%= director.name %></p>
<% end %>
