<h1>Movies</h1>
<div class='movie-list'>
  <% if @result.empty? %>
    <p>No movies matched your search.</p>
  <% else %>
    <% @result[Movie].each do |movie| %>
      <%= render 'shared/movie', :movie => movie, :method => :post %>
    <% end %>
  <% end %>
</div>

