.container{
  width: 960px;
}

.span12 {
  width: 960px;
  margin: 0 auto;
}

.nav {
  position: fixed;
  top: 0;
  z-index: 3;
}

.navbar .nav{
  float:right;
}


.movie-list{
  padding: 1em;
  text-align: center;
  width: 100%;

  .ratings-movie {
    padding: .5em;
    text-align: center;
    display: inline-table;
    width: 20%;
    margin: 1em;
    height: 360px;
    -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4); 
    -moz-box-shadow: 0px 1px 6px rgba(23, 69, 88, .5);

    .poster{
      height: 300px !important;
      width: 213px !important;
      overflow: hidden;
      img {
        height: 300px !important;
        width: 213px !important;
      }
    }
    .title {
      margin-top: 10px;
    }

    span {
      margin-right: 5px;
    }
  }

}

.side-bar-icon{
  margin-left:11.3em;
}
.side-list-icon{
  color: white;
}
.side-icon{
  vertical-align: middle;
}
.side-bar {
  z-index: 4;
  top: 0;
  bottom: 0;
  width: 156px;
  float: left;
  left: -9%;
  position: fixed;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0)));
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
  background: -o-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
  background: -ms-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
  background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
  opacity: 0.45;
}
.side-bar:hover {
  left: 0%;
}

.side-bar ul{
  width: 100%;
  padding-left: 0;
  display: inline-block;

}
.side-bar ul li{
  text-align: left;
  line-height: 2em;
  padding-left: 10px;
  border-bottom: 1px solid #FFF;
  padding-top: 1em;
  padding-bottom: 1em;
}

.side-bar ul li:hover {
  border-right: 3px solid green;
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65)));
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
  background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
  background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
}
.side-bar ul li a{
  color: white;
  text-decoration: none;
  padding-top: 1em;
  padding-bottom: 1em;
}
.side-bar ul li:hover{
}




.rating > a {
  display: inline-block;
  position: relative;
  width: 1.1em;
}

.rating > a:hover {
  text-decoration: none;
}


