.container{
  width: 960px;
}

.span12 {
  width: 960px;
}

.movie-list{
  width: 100%;

  .ratings-movie {
    text-align: center;
    display: inline-table;
    width: 30%;
    margin: 1em;

    span {
      margin-right: 5px;
    }
  }

}

