.form-title{
	margin-left: 12em;
}
#user_email{
	height: 3em;
	margin-bottom: 1px;
}
#user_password{
	height: 3em;
	margin-bottom: 1px;
}
.edit-form-center{
	margin-left: 24em;
}

#user_password_confirmation{
	height: 3em;
}
.center-button{
	margin-left:2.2em;
}
.pure-form-aligned .pure-control-group label {
text-align: right;
display: inline-block;
vertical-align: middle;
width: 11em;
margin: 0 1em 0 0;
}

input[type=submit] {
// -webkit-appearance: button;
// cursor: pointer;
// margin-left: 2em;
}