.form-title{
	margin-left: 12em;
}

.new_user{
  margin-top: 20.5em;
  margin-left: 40em;
  float: left;
  left:0;
}

.email{
  margin-top: -1.2em;
}

.password{
  margin-top: 1.8em;
}

.password-confirm{
  margin-top: 1.7em;
}

.sign-up{
  margin-left: 7.3em;
  margin-top: 4em;
}

#user_email{
 height: 3em;
 margin-bottom: 1px;
}
#user_password{
 height: 3em;
 margin-bottom: 1px;
}
.edit-form-center{
 margin-left: 24em;
}

#user_password_confirmation{
 height: 3em;
}
.center-button{
 margin-left:2.2em;
}
.pure-form-aligned .pure-control-group label {
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  width: 11em;
  margin: 0 1em 0 0;
}

input[type=submit] {
// -webkit-appearance: button;
// cursor: pointer;
// margin-left: 2em;
}
.form-center {
  margin-left: 16em;
}
.shared-links{
  margin-left: 2em;
}
#search{
  margin-left: 16em;
  width: 60%;
  float: left;
  margin-top: 1em;
  text-align: center;
  padding: 0.5em;
  position: absolute;
}

.pure-input-1-2:focus{
  border: 1px solid green;
}
.change-width{
  width: 50%;
}
input[type=name] {
  height: 3em;
}
input[type=email] {
}
input[type=password]{
  height: 3em;
}
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
  margin-left: 0em;
}
input[type="text"]{
  height:3em;
  margin-right: 1em;
}