<div class='lower'>
	<div class='lower-box'>
		<div class="column">
			Need a new movie to watch?
		</div>
		<div class="column">
			<ul>
				<li>Rate some movies</li>
				<li>Get Some Recommendations!</li>
				<li>Check us out!</li>
			</ul>
		</div>
		<div class="column">
			Contact us! agagagagafgafg
		</div>
	</div>
</div>
