<div class='lower'>
	<div class='lower-box'>
		<div class="column-1">
			<div class='column-1-title'>
				Hire Us!
			</div>
			<div class='github'><br>
			<a href='http://www.github.com/seaseng'>Navid Mostafavi</a><br>
			<a href='http://www.github.com/mcarthurgill'>McArthur Girll</a><br>
			<a href='http://www.github.com/rowlandyj'>Rowland Jiao</a><br>
			<a href='http://www.github.com/byee322'>Brian Yee</a>
		</div>
		</div>
	<div class="column-2">
		<%= image_tag("paramount-logo.png", id: "stars") %>
		<div id="logo">
			<%= image_tag("mascot.png", height:'200', width: '120') %>
		</div>
	</div>
	<div class="column-3">
		<div class='copyright'>
			<br>
			<br>
			<br>
			<br>
			A <a href="http://www.devbootcamp.com">DevBootCamp</a> Original
		</div>
		<div class ='devbootcamp'>
			<%= image_tag 'devbootcamp.png' %>
		</div>
	</div>
</div>
