<% if user_signed_in? %>
	<div id="search">
	  <%= form_tag("/search", method: "get", :class => 'pure-form pure-g') do %>
	    <%= text_field_tag :query, nil, :class => 'pure-input-1-2', :placeholder => 'Search for keywords' %>
	    <button class="pure-button pure-button-primary"><i class="icon-search"></i> Search</button>
	  <% end %>
	</div>
<% end %>